{% extends 'base.html.twig' %}

{% block title %}Bienvenue !{% endblock %}

{% block body %}

<div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('https://media.odalys-vacances.com/imgResize-2200-700/plus/v3/slider-location-vacances/location-vacances-campagne.jpg');">

    <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Bienvenue à Gye</h1>

</div>

<div class="item">
  <div class="field">
    <div id="ui-user-search" class="uk-search-input">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Rechercher ...">
        <i class="users icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</div>


<div class="uk-margin-top">
    <h1>Dernières actualités</h1>
</div> 

{% for publication in allpublications %}
<article class="uk-article">
   
    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{publication.title|raw}}</a></h1>

    <p class="uk-article-meta">Écrit par <a href="#">{{publication.publishedby.email}}</a> le {{publication.publishedat|format_datetime()}} 
    
    </p>

    <p>{{publication.content|raw}}</p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <a href="" uk-tooltip="title: Détails de la publication" uk-icon="info"></a>
    <a href="" uk-tooltip="title: Modifier la publication" uk-icon="pencil"></a>
    <a href="" uk-tooltip="title: Supprimer la publication" uk-icon="trash"></a>
    </div>

</article>
{% endfor %}

<script>
 $('#ui-user-search').search({
      type: 'category',
      searchFields: ['Id', 'Title', 'Content','PublishedBy'],
      fullTextSearch: true,
      onSelect: function onSelect(result, response) {
        console.log(result);
      },
      apiSettings: {
        responseAsync: function mockResponseAsync(settings, callback) {
          if (settings.urlData.query) {
            (function() {
              var result = {
                "results": {}
              };
              mockArticles.filter(function(article) {
                return article.Title.toLowerCase().includes(settings.urlData.query.toLowerCase());
              }).forEach(function(item) {
                console.log(item);
                result.results['category' + item.Id.toString()] = {
                  "name": item.Id.toString(),
                  "results": [item]
                };
              });
              callback(result);
            })();
          } else callback({});
        },
        throttle: 400
      },
      templates: {
        message: function message(type, _message) {
          var html = '<div class="message empty"><div class="header">Aucun résultat</div></div>';
          return html;
        },
        category: function category(response) {
          var html = '';
          Object.keys(response.results).forEach(function(key) {
            html += '<div class="content"><div class="title"><a href="/publication/'+ response.results[key].results[0].Title + '">'+ response.results[key].results[0].Title + '</a> ' + response.results[key].results[0].Content + '</div>';
          });
          return html;
        }
      }
    });

var mockArticles = [
{% for article in allpublications %}
{ Id: '{{ article.id }}',
Title: '{{ article.title }}',
Content: '{{ article.content }}'}, 
{% endfor %}
];
</script>
{% endblock %}
